name: macOS (Metal)

on:
  push:
    branches:
    - v3
  pull_request:
    branches:
    - v3

jobs:
  build:

    runs-on: macos-latest

    steps:
    - uses: actions/checkout@v4
    - name: Get Submodules
      run: ./get_dlc
    - name: Compile
      run: ./make -g metal --kore . --from Tests/Empty --compile
    - name: Compile and Run Test 2 (SIMD)
      run: ./make --kore . --from Tests/SIMD --run
